<div class="row">
  <div class="col md 6">
    <a routerLink="/" class="text-dark">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
      Back to dashboard
    </a>
  </div>
  <div class="col md 6"></div>
</div>

<!--alert-->



<div class="card my-5 col-md-6 mx-auto">
  <div class="card-header">
    Add Client
  </div>
  <div class="card-body">
    <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
      <div class="form-group mb-2">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid':clientFirstName.errors && clientFirstName.touched}"
          name="firstName"
          id="firstName"
          #clientFirstName="ngModel"
          [(ngModel)]="client.firstName"
          required
          minlength=3
        />
        <div class="invalid-feedback" [hidden]="!clientFirstName.errors?.required">
          First Name is Required
        </div>
        <div class="invalid-feedback" [hidden]="!clientFirstName.errors?.minlength">
          First Name must be at least 3
        </div>


      </div>
      <div class="form-group mb-2">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid':clientLastName.errors && clientLastName.touched}"
          name="lastName"
          id="lastName"
          #clientLastName="ngModel"
          [(ngModel)]="client.lastName"
          required
          minlength=3
        />
        <div class="invalid-feedback" [hidden]="!clientLastName.errors?.required">
          Last Name is Required
        </div>
        <div class="invalid-feedback" [hidden]="!clientLastName.errors?.minlength">
          Last Name must be at least 3
        </div>


      </div>
      <div class="form-group mb-2">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          [ngClass]="{'is-invalid':clientEmail.errors && clientEmail.touched}"
          name="email"
          id="email"
          #clientEmail="ngModel"
          [(ngModel)]="client.email"
          required
          pattern="(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)"
        />
        <div class="invalid-feedback" [hidden]="!clientEmail.errors?.required">
          Email is Required
        </div>
        <div class="invalid-feedback" [hidden]="!clientEmail.errors?.pattern">
          Email is not valid
        </div>
      </div>

      <div class="form-group mb-2">
        <label for="phone">Phone</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid':clientPhone.errors && clientPhone.touched}"
          name="phone"
          id="phone"
          #clientPhone="ngModel"
          [(ngModel)]="client.phone"
          required
          minlength=10
        />
        <div class="invalid-feedback" [hidden]="!clientFirstName.errors?.required">
          Phone is Required
        </div>
        <div class="invalid-feedback" [hidden]="!clientFirstName.errors?.minlength">
          Phone must be at least 10
        </div>

      </div>

      <div class="form-group mb-2">
        <label for="balance">Balance</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="client.balance"
          name="balance"
          id="balance"
          #clientBalance="ngModel"

          [disabled]="disableBalanceOnAdd"
        />
      </div>

        <button class="btn btn-primary btn-block my-3" type="submit"> submit</button>


    </form>
  </div>
</div>
